body{
    background-image: url(digital-art-isolated-house.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
#do{
    color: white;
    background-color: rgb(18, 18, 20);
    height: 40px;
    width: 1340px;
    margin-top: 500px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 12px;
    text-align: center;
    line-height: 100px;
    position: fixed;
    bottom: 0;
}

button{
    
}
.etask{
    color: white;
    background-color: rgb(31, 31, 32);
    height: 40px;
    width: 1340px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 12px;
}
#addtask{
    position:fixed;
}